body {
	background: url(http://subtlepatterns.com/patterns/old_mathematics.png);
  font-family: 微軟正黑體;
}

.navbar .nav.pull-center {
  float: none;
  margin: 0 auto;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
  height: 40px;
}

#xlogo {
	height: 60px;
  position: relative;
  top: -10px;
}

.content {
  margin-top: 70px;
}


.container {
  margin-top: 50px;
  margin-bottom: 50px;
}


#whatx {
  margin-left: 60px;
  margin-top: -40px;
}

#lab {
  margin-top: 30px;
}

#lab+img {
  margin-left: 60px;
}

#wild {
  margin-top: 100px;
  margin-left: 60px;
}

.content img {
  box-shadow: 0 10px 6px -6px black;
}
