body {
	background: url(http://subtlepatterns.com/patterns/old_mathematics.png);
  font-family: 微軟正黑體;
}

.navbar .nav.pull-center {
  float: none;
  margin: 0 auto;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
  height: 40px;
}

#xlogo {
	height: 60px;
  position: relative;
  top: -10px;
}

.content {
  margin-top: 80px;
}

.centered-pills { 
  text-align:center; 
  position: relative;
  left:-35px;
}

.centered-pills ul.nav-pills { 
  display:inline-block; 
}

.centered-pills li { 
  display:inline; 
  font-size: 20px;
}

.centered-pills a { 
  float:left; 
}

.title {
  text-align:center;
  margin-top:20px;
  margin-bottom: 50px;
  font-family: 微軟正黑體;
  font-size: 40px;
}

#flow {
  margin-top: 40px;
}

.wanted {
  padding-left: 30px;
}

#img3 {
  margin-top: 50px;
}

#result {
  margin-top: 40px;
}

.student h5{
  text-align: center;
  font-size: 20px;
}

.student {
  margin-bottom: 30px;
}

.img-circle {
  box-shadow: 0 10px 6px -6px black;
}