@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/reset.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/960.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/text.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	background: url(http://futurekids53.github.com/assign2/b1.png);
	height: 0px;
}

#fixbar {
	position: fixed;
	top: 0px;
	left: 10px;
	height: 30px;
	width: 250px;
}

#fixbar li{
	list-style-type: none;
    display:inline-block;
    margin:0px;
}

#fixbar a{
	display:inline-block;
	padding: 10px;
    list-style-type: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:#3B3131;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;
    opacity: .5;
}

#fixbar a:hover{
    opacity: 1;
}

#navs {
	position: relative;
	background:  url(http://futurekids53.github.com/assign2/b2.png);
	margin: 80px 0 50px 0;
	height: 100px;
	border-radius: 2px;
}

nav ul{
    margin: 0px;
    height:100px;
}

nav li{
	list-style-type: none;
	display:inline-block;
}



nav a{
	position: relative;
	display:block;
	background-color: #41627E;
	margin:   0   10px  0   70px;
	padding: 40px 10px 40px 10px;
    top: -10px;
    border-radius: 2px;

	text-decoration: none;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
    color:white;

    -webkit-transition-property:background-color;
    -webkit-transition-duration: .5s;
}

nav a:hover{
	background-color: #659EC7;
}

nav a:active{
	background-color: #D16587;
}

.button2 {
    left: 480px;
}

#head {
	position: absolute;
	top: -110px;
    left: 430px;
}

.line {
	
	height: 10px;
	margin: 50px 0 50px 0;
	background-color: blue;
}

#home {
	background-color: #7E354D;
	color: white;
}

section {
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	width: 1280px;
	border-bottom: 5px;
	border-radius: 2px;
	z-index: -1;
	

}

section div{
	position: absolute;	
	padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: #41627E;
    opacity: 0.8;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;
}

section div:hover{
	opacity: 1;
}

section div.right{

	left: 720px;
	top: 150px;

}

section div.left{
	top: 200px;
	border-radius: 5px;
}

.s1 img{
	position:relative;
	top:-50px;

}

#skill{
	left: 900px;
}

h2 {
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
    color:white;
}

.content{
	font-size: 20px;
    font-family: 'Keania One', cursive;
	text-decoration: none;
	opacity:0.9;
    color:white;
    padding: 10px;
	border-radius: 5px;
}

footer p{
	display: block;
	padding: 10px 0 10px 530px;
	font-size: 18px;
    color:white;	
}



@media screen and (max-width: 600px){

.button2 {
    left: 0px;
}

#navs{
	width: 600px;
}



nav a{
	margin:   0   10px  0   10px;
}


#head {
    display: none;
}

section{
	margin-left: 0px;
	width: 600px;
}

section div{
	width: 580px;
	padding: 10px;
}

section div.right{

	left: 0px;
	top: 150px;

}

#skill{
	left: 0px;
}


footer p{
	width: 500px;
	padding: 10px;
}

}


@media screen and (min-width: 600px) and (max-width: 900px){

.button2 {
    left: 350px;
}

#navs{
	width: 900px;
}



nav a{
	margin:   0   10px  0   10px;
}


#head {
	position: absolute;
	width: 50%;
	top: -110px;
    left: 230px;
}

section{
	margin-left: 0px;
	width: 900px;
}

section div{
	width: 850px;
	padding: 10px;
}

section div.right{

	left: 0px;
	top: 150px;

}

#skill{
	left: 0px;
}


footer p{
	width: 500px;
	padding: 10px;
}

}
